@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}

.home-index:first-child {
  z-index: -999;
  background-image: url("../public/image/bg_texture.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.top_margin {
  padding-top: 65px;
}