.home-index {
  width: 100%;
  height: auto;
  display: grid;
  align-items: center;
  align-content: center;
  justify-content: center;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.paper-texture {
  text-align: center;
  width: 100%;
  height: 100vh;
  background-image: url("../public/image/bg_texture.jpeg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
}

.paper-texture h1 {
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
}

.home-index-underline {
  width: 70vw;
  margin: 15px auto;
  border: dashed 1px;
}

.home-index2 {
  background-color: rgb(255, 255, 255);
}

.home-index3 {
  background-color: rgb(128, 128, 128);
}